<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundScape</title>
    <link rel="icon" href="../img/SoundScapeLogo.png" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/preguntas.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #081b26">
    <div class="container pequeñas">
      <div class="container-fluid d-flex flex-contain">
        <img
          class="mt-4"
          src="../img/SoundScape.png"
          alt="Sound Scape"
          width="240"
          height="72"
        />
        <h1 class="pregunta mt-5">¿En donde tienes posicionada tu ventana?</h1>

        <div class="container-flex mt-3">
          <label for="radio1">
            <div class="opcion">
              <input type="radio" id="radio1" name="grupoRadios" />

              <div class="imagen1"></div>
            </div>
          </label>

          <label for="radio2">
            <div class="opcion">
              <input type="radio" id="radio2" name="grupoRadios" />

              <div class="imagen2"></div>
            </div>
          </label>

          <label for="radio3">
            <div class="opcion">
              <input type="radio" id="radio3" name="grupoRadios" />

              <div class="imagen3"></div>
            </div>
          </label>

          <label for="radio4"
            ><div class="opcion">
              <input type="radio" id="radio4" name="grupoRadios" />

              <div class="imagen4"></div>
            </div>
          </label>

          <label for="radio5">
            <div class="opcion">
              <input type="radio" id="radio5" name="grupoRadios" />
              <div class="imagen5"></div></div
          ></label>

          <label for="radio6"
            ><div class="opcion">
              <input type="radio" id="radio6" name="grupoRadios" />

              <div class="imagen6"></div>
            </div>
          </label>
          <label for="radio7"
            ><div class="opcion">
              <input type="radio" id="radio7" name="grupoRadios" />
              <div class="imagen7"></div></div
          ></label>

          <label for="radio8"
            ><div class="opcion">
              <input type="radio" id="radio8" name="grupoRadios" />
              <div class="imagen8"></div></div
          ></label>
          <label for="radio9"
            ><div class="opcion">
              <input type="radio" id="radio9" name="grupoRadios" />
              <div class="imagen9"></div></div
          ></label>

          <label for="radio10"
            ><div class="opcion">
              <input type="radio" id="radio10" name="grupoRadios" />
              <div class="imagen10"></div></div
          ></label>
          <label for="radio11"
            ><div class="opcion">
              <input type="radio" id="radio11" name="grupoRadios" />
              <div class="imagen11"></div></div
          ></label>

          <label for="radio12"
            ><div class="opcion">
              <input type="radio" id="radio12" name="grupoRadios" />
              <div class="imagen12"></div></div
          ></label>
        </div>

        <div class="btn btn-primary mt-3 mb-4">Seleccionar</div>
      </div>
    </div>

    <script src="../js/formulario.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
