<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundScape</title>
    <link rel="icon" href="../img/SoundScapeLogo.png" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/preguntas.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #081b26">

    <div class="min-vh-100 d-flex d-flexito align-items-center justify-content-center margencita" >
      <div class="col-12 ">
        <div class="container pequeñas">
          <div class="container-fluid d-flex flex-contain">
            <img
              class="mt-4"
              src="../img/SoundScape.png"
              alt="Sound Scape"
              width="240"
              height="72"
            />
            <h1 class="pregunta mt-4">¿En dónde tienes posicionada tu ventana?</h1>
    
            <form id="formularioVentana" class="container-flex">
              <div class="container-flex">
                <label for="radio1">
                  <div class="opcion">
                    <input
                      type="radio"
                      id="radio1"
                      name="grupoRadios"
                      value="left"
                    />
    
                    <div class="imagenV1"></div>
                  </div>
                </label>
    
                <label for="radio2">
                  <div class="opcion">
                    <input
                      type="radio"
                      id="radio2"
                      name="grupoRadios"
                      value="leftTop"
                      checked
                    />
    
                    <div class="imagenV2"></div>
                  </div>
                </label>
    
                <label for="radio3">
                  <div class="opcion">
                    <input
                      type="radio"
                      id="radio3"
                      name="grupoRadios"
                      value="leftBottom"
                    />
    
                    <div class="imagenV3"></div>
                  </div>
                </label>
    
                <label for="radio4"
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio4"
                      name="grupoRadios"
                      value="topLeft"
                    />
    
                    <div class="imagenV4"></div>
                  </div>
                </label>
    
                <label for="radio5">
                  <div class="opcion">
                    <input
                      type="radio"
                      id="radio5"
                      name="grupoRadios"
                      value="top"
                    />
                    <div class="imagenV5"></div></div
                ></label>
    
                <label for="radio6"
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio6"
                      name="grupoRadios"
                      value="topRight"
                    />
    
                    <div class="imagenV6"></div>
                  </div>
                </label>
                <label for="radio7"
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio7"
                      name="grupoRadios"
                      value="rightTop"
                    />
                    <div class="imagenV7"></div></div
                ></label>
    
                <label for="radio8"
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio8"
                      name="grupoRadios"
                      value="right"
                    />
                    <div class="imagenV8"></div></div
                ></label>
                <label for="radio9"
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio9"
                      name="grupoRadios"
                      value="rightBottom"
                    />
                    <div class="imagenV9"></div></div
                ></label>
    
                <label for="radio10"
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio10"
                      name="grupoRadios"
                      value="bottomRight"
                    />
                    <div class="imagenV10"></div></div
                ></label>
                <label for="radio11" class=""
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio11"
                      name="grupoRadios"
                      value="bottom"
                    />
                    <div class="imagenV11"></div></div
                ></label>
    
                <label for="radio12"
                  ><div class="opcion">
                    <input
                      type="radio"
                      id="radio12"
                      name="grupoRadios"
                      value="bottomLeft"
                    />
                    <div class="imagenV12"></div></div
                ></label>
              </div>
              <div class="flex">
                <button
                  type="button"
                  class="btn btn-primary mb-4 mt-4 btn-color"
                  id="volver"
                >
                  Volver
                </button>
                <button class="btn btn-primary mb-4 mt-4 btn-color" type="submit">
                  Seleccionar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> 

    <!-- <div class="container pequeñas">
      <div class="container-fluid d-flex flex-contain">
        <img
          class="mt-4"
          src="../img/SoundScape.png"
          alt="Sound Scape"
          width="240"
          height="72"
        />
        <h1 class="pregunta mt-4">¿En dónde tienes posicionada tu ventana?</h1>

        <form id="formularioVentana" class="container-flex">
          <div class="container-flex">
            <label for="radio1">
              <div class="opcion">
                <input
                  type="radio"
                  id="radio1"
                  name="grupoRadios"
                  value="left"
                />

                <div class="imagenV1"></div>
              </div>
            </label>

            <label for="radio2">
              <div class="opcion">
                <input
                  type="radio"
                  id="radio2"
                  name="grupoRadios"
                  value="leftTop"
                  checked
                />

                <div class="imagenV2"></div>
              </div>
            </label>

            <label for="radio3">
              <div class="opcion">
                <input
                  type="radio"
                  id="radio3"
                  name="grupoRadios"
                  value="leftBottom"
                />

                <div class="imagenV3"></div>
              </div>
            </label>

            <label for="radio4"
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio4"
                  name="grupoRadios"
                  value="topLeft"
                />

                <div class="imagenV4"></div>
              </div>
            </label>

            <label for="radio5">
              <div class="opcion">
                <input
                  type="radio"
                  id="radio5"
                  name="grupoRadios"
                  value="top"
                />
                <div class="imagenV5"></div></div
            ></label>

            <label for="radio6"
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio6"
                  name="grupoRadios"
                  value="topRight"
                />

                <div class="imagenV6"></div>
              </div>
            </label>
            <label for="radio7"
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio7"
                  name="grupoRadios"
                  value="rightTop"
                />
                <div class="imagenV7"></div></div
            ></label>

            <label for="radio8"
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio8"
                  name="grupoRadios"
                  value="right"
                />
                <div class="imagenV8"></div></div
            ></label>
            <label for="radio9"
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio9"
                  name="grupoRadios"
                  value="rightBottom"
                />
                <div class="imagenV9"></div></div
            ></label>

            <label for="radio10"
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio10"
                  name="grupoRadios"
                  value="bottomRight"
                />
                <div class="imagenV10"></div></div
            ></label>
            <label for="radio11" class=""
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio11"
                  name="grupoRadios"
                  value="bottom"
                />
                <div class="imagenV11"></div></div
            ></label>

            <label for="radio12"
              ><div class="opcion">
                <input
                  type="radio"
                  id="radio12"
                  name="grupoRadios"
                  value="bottomLeft"
                />
                <div class="imagenV12"></div></div
            ></label>
          </div>
          <div class="flex">
            <button
              type="button"
              class="btn btn-primary mb-4 mt-4 btn-color"
              id="volver"
            >
              Volver
            </button>
            <button class="btn btn-primary mb-4 mt-4 btn-color" type="submit">
              Seleccionar
            </button>
          </div>
        </form>
      </div>
    </div> -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
