<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundScape</title>
    <link rel="icon" href="../img/SoundScapeLogo.png" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/tieneVentana.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="background-color: #081b26"
    class="background m-3 min-vh-100 d-flex align-items-center justify-content-center row"
  >
    <div class="container pequeñas col-sm-6 col-xl-5">
      <div class="container-fluid d-flex flex-contain">
        <h1 class="pregunta mt-4">¿Cúal es tu presupuesto?</h1>

        <form id="formularioPresupuestoHabitacion" class="container-flex">
          <div class="mb-3 d-flex align-items-center flex-presupuesto">
            <table class="table text-center tablitaPresupuesto">
              <thead>
                <tr>
                  <th scope="col">Bajo</th>
                  <th scope="col">Medio</th>
                  <th scope="col">Alto</th>
                  <th scope="col">Costoso</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>270 a 500</td>
                  <td>500 a 5000</td>
                  <td>5000 a 20000</td>
                  <td>+20000</td>
                </tr>
              </tbody>
            </table>

            <div class="flex-grow-1 mb-2">
              <input
                class="inputsColor contenedorPresupuesto"
                id="presupuestoHabitacion"
                name="presupuesto"
                placeholder="Ingresa tu presupuesto"
                required
              />
            </div>
          </div>
          <div class="flex">
            <button
              type="button"
              class="btn btn-primary mb-4 btn-color"
              id="volver"
            >
              volver
            </button>
            <button class="btn btn-primary mb-4 btn-color" type="submit">
              Continuar
            </button>
          </div>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
