<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundScape</title>
    <link rel="icon" href="../img/SoundScapeLogo.png" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/resultadoFinal.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #081b26">
    <!-- <div
      class="disabled d-flex flex-column align-items-center"
      id="loader-pagina-final"
    >
      <div class="spinner-border text-success" role="status"></div>
      <p class="text-white mt-3">
        Cargando. Por favor espere mientras cargamos la información...
      </p>
    </div> -->

    <div class="pequeñas">
      <div class="row flex-contain">
        <!-- Tabla -->
        <div class="col-md-7 flex-contentSection">
          <h2 class="productColor mb-3 flexTittle">
            Te Recomendamos
            <a
              href="#"
              class="btn btn-color"
              data-bs-toggle="modal"
              data-bs-target="#modalAñadirProducto"
              >Añadir Producto</a
            >
          </h2>
          <div class="table-container">
            <table class="table" id="tablitaProductos">
              <thead>
                <tr>
                  <th scope="col" class="titleTable">Tipo</th>
                  <th scope="col" class="titleTable">Modelo</th>
                  <th scope="col" class="titleTable">Precio</th>
                  <th scope="col" class="titleTable">Link</th>
                </tr>
              </thead>
            </table>
            <div class="valorFinal">
              <strong>Total: </strong>US $<span id="precioTotalTotal"></span>
            </div>
          </div>
        </div>

        <!-- Imagen Final -->
        <div class="col-md-5 flex-contentSection margenTop mt-3">
          <div class="mt-3" style="text-align: center !important">
            <button type="button" class="btn btn-color2 mb-2">
              Ubicación de los equipos
            </button>
          </div>
          <div class="imagenFinal"></div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalAñadirProducto"
      tabindex="-1"
      aria-labelledby="modalAñadirProductoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content colorContentModal">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAñadirProductoLabel">
              Añadir Producto
            </h5>
            <div class="dropdown">
              <button
                class="btn btn-color dropdown-toggle ms-3"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Filtrar
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Monitor estudio</a></li>
                <li>
                  <a class="dropdown-item" href="#">Micrófono condensador</a>
                </li>
                <li><a class="dropdown-item" href="#">MIDI</a></li>
                <li><a class="dropdown-item" href="#">Audífonos</a></li>
                <li><a class="dropdown-item" href="#">Interfaz audio</a></li>
                <li>
                  <a class="dropdown-item" href="#">Micrófono dinámico</a>
                </li>
                <li><a class="dropdown-item" href="#">Trampa Bajo</a></li>
                <li><a class="dropdown-item" href="#">Difusor</a></li>
                <li><a class="dropdown-item" href="#">Panel acústico</a></li>
              </ul>
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table text-center tablitaProductos">
                <thead>
                  <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Añadir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Panel acústico</td>
                    <td>A2S Protection Paneles Acústicos</td>
                    <td>31.49</td>
                    <td>
                      <button class="btn btn-success" style="cursor: pointer">
                        +
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Difusor</td>
                    <td>BUBOS difusores acústicos</td>
                    <td>52.99</td>
                    <td>
                      <button class="btn btn-success" style="cursor: pointer">
                        +
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
