.learning-body {
  background-color: #081b26 !important;
}

.row-center {
  justify-content: center !important;
  gap: 10px;
}

.bg-color {
  background-color: #022940;
}

.titulo-aprendizaje {
  margin: 0;
  color: #9fc13b !important;
  font-family: "Franklin Gothic Medium" !important;
  font-size: large;
}
