.comunidad-body {
  background-color: #081b26 !important;
}

.contain-title-btn {
  display: flex;
  color: #9fc13b !important;
  font-family: "Franklin Gothic Medium" !important;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start !important;
}

.btn-color {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: smaller !important;
}

.titlePrincipal {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
}

.accordion-button {
  background-color: #022940 !important;
  color: #9fc13b !important;
  font-family: "Franklin Gothic Medium" !important;
}



.btn-respuesta {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: small !important;
}

.accordion-collapse {
  background-color: #022940 !important;
  color: #ffffff !important;
  border-radius: 0 0 10px 10px !important;
}

.modal-header {
  border-bottom: 2px solid #022940 !important;
}

.modal-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
}

.form-label {
  font-family: "Montserrat", sans-serif !important;
}

.accordion-item {
  background-color: transparent !important;
  border-bottom: 0 !important;
  border-radius: 10px !important;
}

::placeholder {
  font-family: "Montserrat", sans-serif !important;
}



.btn-responder {
  background-color: #9fc13b !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: small !important;
}

.btn-close {
  filter: invert(1);
}

.accordion-button::after {
  filter: invert(1);
}

.form-control {
  background-color: #022940 !important;
  border: 0 !important;
  color: #ffffff !important;
}

.form-control::placeholder {
  color: #ffffff !important;
}

.flex-comment {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 20px !important;
}

.imagen-autorPregunta {
  margin-right: 10px;
}

.pregunta-autor {
  margin: 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: small !important;
}

.comentarioSin{
  font-family: "Montserrat", sans-serif !important;

}

.p-autor {
  margin: 0;
}

.data-autor {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.color-autor {
  color: #9fc13b;
}

.color-time {
  color: #748d29;
}

.modal-content {
  background-color: #081b26 !important;
  border: 0 !important;
  color: #ffffff !important;
}

@media only screen and (max-width: 760px) {
  .contain-title-btn {
    justify-content: center;
  }
}
