.imagenContacto {
  width: 800px !important;
  height: 100vh !important;
  background: url(../img/fondoContacto.png) !important;
  background-size: cover !important;
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: -10 !important;
}

.contact-body {
  background-color: #081b26 !important;
}

.containerdelContact {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.inputsColor {
  padding: 10px !important;
  border-radius: 10px !important;
  background-color: #022940;
  color: white !important;
  border: none !important;
}

.inputsColor::placeholder {
  color: white !important;
}

.contactenosColor {
  font-style: italic;
  color: #9fc13b;
  font-size: 80px;
  margin-bottom: 30px !important;
}

.inputsContact {
  width: 500px !important;
  display: flex;
  flex-direction: column;
  margin: 10px !important;
  gap: 10px !important;
}

.botoncito {
  width: 100px !important;
  justify-content: center !important;
}

.contenedorInputs {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}

.centrarInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px !important;
}

@media only screen and (max-width: 800px) {
  .imagenContacto {
    transition: 2s !important;
    width: 200px !important;
    min-height: 830px !important;
  }
  .contenedor-imagenContacto {
    display: none !important;
  }
  .inputsContact {
    width: 300px !important;
  }
  .centrarInputs {
    margin-top: 50px !important;
  }

  .contactenosColor {
    font-size: 40px;
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .contenedor-imagenContacto {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .contenedor-imagenContacto {
    display: none !important;
  }
}

@media only screen and (max-width: 980px) {
  .centradoForm {
    justify-content: center;
  }
}
