@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.background-cero {
  position: relative;
  background: url(../img/fondotamano.jpg) no-repeat !important ;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.contenedorIframeFrame {
  position: fixed;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* iframe {
  height: 90.3vh !important;
  background-color: #081b26 !important;
} */

.preguntaVentana {
  color: #9fc13b;
  text-align: center;
  font-size: large;
}

.btn-secondary {
  background-color: #022940 !important;
  border: 1px solid #022940 !important;
}

.logoFormulario {
  width: 100% !important;
  height: 72px;
}

.contact-body {
  background-color: #081b26 !important;
}

.containerdelContact {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.inputsColor {
  padding: 10px !important;
  border-radius: 10px !important;
  background-color: #022940;
  color: white !important;
  border: none !important;
  width: 100% !important;
  font-size: smaller !important;
}

.inputsColor::placeholder {
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
}

.preguntaColor {
  font-family: "Montserrat", sans-serif !important;
  color: #9fc13b;
  font-size: 50px;
  margin-bottom: 30px !important;
}

.inputsForm {
  width: 500px !important;
  display: flex;
  flex-direction: column;
  margin: 10px !important;
  gap: 10px !important;
}

.botoncito {
  width: 150px !important;
  justify-content: center !important;
}

.contenedorInputs {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}

.centrarInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorLabelPresupuesto {
  color: white !important;
}

.flex-presupuesto {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  gap: 10px !important;
  justify-content: center !important;
}

.justify-content-center2{
  justify-content: center !important;
}

@media only screen and (max-width: 1366px) {
  .preguntaColor {
    font-size: x-large;
    margin-bottom: 10px !important;
  }

  .inputsColor {
    font-size: x-small;
  }

  .botoncito {
    margin-top: 0px !important;
    font-size: small !important;
    width: 100px !important;
  }

  .btn-homeStudioCero {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 800px) {
  .background-cero {
    background: none !important ;
  }
  .inputsForm {
    width: 300px !important;
  }
  .centrarInputs {
    margin-top: 50px !important;
  }

  .preguntaColor {
    font-size: 20px;
    margin-bottom: 10px !important;
  }

  .logoFormulario {
    width: 190px !important;
    height: 49px;
  }

  .justify-content-center2{
    justify-content:flex-start !important;
  }
}

@media only screen and (max-width: 1000px) {
  .preguntaColor {
    width: 300px;
    font-size: x-large;
  }

  .contenedor-imagenContacto {
    display: none !important;
  }
  .centradoForm {
    justify-content: center;
  }
}

@media only screen and (max-width: 1300px) {
  .contenedor-imagenContacto {
    display: none !important;
  }
  .centradoForm {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .contenedor-imagenContacto {
    display: none !important;
  }

  .logoFormulario {
    height: 49px;
  }
}

@media only screen and (max-width: 980px) {
  .centradoForm {
    justify-content: center;
  }
}

@media (max-width: 995px) {
  .scrollsito {
    overflow: hidden;
  }
}
