body {
  background-color: #081b26 !important;
  padding: 50px;
}

.container {
  background-color: #022940;
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.pregunta {
  color: #9fc13b;
  text-align: center;
}

.opcion {
  width: 295px;
  height: 369px;
  background-color: blanchedalmond;
  margin: 10px;
}

.flex-contain {
  flex-direction: column;
  align-items: center;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagen1 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP1.jpg");
  background-size: cover;
}
.imagen2 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP2.jpg");
  background-size: cover;
}
.imagen3 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP3.jpg");
  background-size: cover;
}
.imagen4 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP4.jpg");
  background-size: cover;
}
.imagen5 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP5.jpg");
  background-size: cover;
}
.imagen6 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP6.jpg");
  background-size: cover;
}
.imagen7 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP7.jpg");
  background-size: cover;
}
.imagen8 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP8.jpg");
  background-size: cover;
}
.imagen9 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP9.jpg");
  background-size: cover;
}
.imagen10 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP10.jpg");
  background-size: cover;
}
.imagen11 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP11.jpg");
  background-size: cover;
}
.imagen12 {
  width: 295px;
  height: 369px;
  background: url("../img/habitacionPequeña/puertas/puertaP12.jpg");
  background-size: cover;
}

input {
  display: none;
}

.medianas {
  display: none;
}

@media only screen and (max-width: 767px) {
  .imagen1,
  .imagen2,
  .imagen3,
  .imagen4,
  .imagen5,
  .imagen6,
  .imagen7,
  .imagen8,
  .imagen9,
  .imagen10,
  .imagen11,
  .imagen12,
  .opcion {
    width: 221px;
    height: 258px;
  }
}
