.geometria {
  width: 100vw;
  height: 100vh;
  border-top: solid 100px transparent;
  border-left: solid 100px transparent;
  border-bottom: solid 100px pink;
  border-right: solid 100px orange;
}

.bg-contacto {
  background: url(../img/fondoContacto.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: -10;
}

.contact-body {
  background-color: #081b26;
}

.contacto {
  margin-top: 50px;
  color: #9fc13b !important;
  font-family: "Franklin Gothic Medium" !important;
  font-style: italic;
}

.form {
  width: 50% !important;
  color: #ffffff !important;
}

.flex-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: left;
  margin-top: 80px;
  margin-left: 80px !important;
}

input,
textarea {
  background-color: #022940 !important;
  border: 1px solid #011927 !important;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff !important;
}

.botoncito {
  margin-left: 20%;
  margin-top: 20px !important;
}

.contacto {
  margin-left: 7%;
  font-size: 80px !important;
}

@media only screen and (max-width: 767px) {
  .form {
    width: 100% !important;
  }

  .contacto {
    margin-left: 0;
    font-size: 50px !important;
    text-align: center;
  }

  .botoncito {
    margin-left: 120px !important;
  }

  .flex-container {
    margin-top: 0px;
    margin-left: 0 !important;
  }
}
