.table-container {
  scrollbar-width: thin !important;
  scrollbar-color: #081b26 #022940 !important;
}

.margencita {
  margin: 20px;
}

.pequeñas {
  margin-left: 10px;
  margin-top: 100px;
  margin-right: 10px;
  background-color: #022940 !important;
  color: white !important;
  padding: 20px !important;
}

.flex-contain {
  display: flex !important;
  flex-direction: row !important;
}

.flex-contentSection {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.imagenFinal {
  width: 520px !important;
  height: 650px !important;
  background: url("") no-repeat;
  background-size: cover !important;
}

.table {
  text-align: center !important;
  --bs-table-bg: #081b26 !important;
  --bs-table-border-color: #022940 !important;
}

.table-container {
  width: 100% !important;
  max-height: 701.5px;
  overflow-y: auto;
}

.flexTittle {
  display: flex !important;
  gap: 20px;
}

.sinProductitos {
  text-align: center;
  font-size: xx-large !important;
  font-family: "Montserrat", sans-serif !important;
  margin-top: 35% !important;
}

.linkDelete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px !important;
}

.titleTable {
  color: #ffffff !important;
}

.btn-color1 {
  background-color: #c0f12a !important;
  color: #022940 !important;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 10px !important;
  border-color: #c0f12a !important;
  transition: 0.4s !important;
}

.btn-color2 {
  background-color: #c0f12a !important;
  color: #022940 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  border-radius: 10px !important;
  border-color: #c0f12a !important;
  transition: 0.4s !important;
}

.btn-color3 {
  background-color: #081b26 !important;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  border-radius: 10px !important;
  border-color: #081b26 !important;
}

.colorContentModal {
  background-color: #022940 !important;
}

.tablitaProductos {
  padding: 0;
  border-collapse: separate !important;
}

.tablitaProductos th {
  color: white !important;
}

.modal-body {
  padding: 0 !important;
  height: 450px !important;
  overflow-y: auto !important;
  scrollbar-width: thin !important;
  scrollbar-color: #081b26 #022940 !important;
}

.btn-color1:hover {
  background-color: #7ea704 !important;
  color: #022940 !important;
  border-color: #7ea704 !important;
}

.productColor {
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
  color: #7ea704;
}

.btn-color {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
}

.btn-color2:hover {
  background-color: #7ea704 !important;
  color: #022940 !important;
  border-color: #7ea704 !important;
}

.margenTop {
  margin-top: 3.5rem !important;
}

.btn-close {
  filter: invert(1) !important;
}

td {
  color: white !important;
}

.valorFinal {
  background-color: #081b26;
  font-size: x-large;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.row {
  align-items: center !important;
}

@media (max-width: 750px) {
  .sinProductitos {
    font-size: x-large !important;
    margin-top: 0 !important;
  }

  .imagenFinal {
    width: 260px !important;
    height: 325px !important;
  }
}

@media (max-width: 1300px) {
  .col-md-7 {
    width: 100% !important;
  }

  .margenTop {
    margin-top: 0 !important;
  }

  .flex-contain {
    flex-direction: column !important;
    align-items: center !important;
  }
}
