* {
  box-sizing: border-box;
  text-decoration: none;
}

.fondo {
  background-color: #081b26 !important;
}

.navbar {
  background-color: #022940 !important;
}

.container-fluid {
  margin: 10px !important;
  margin-left: 20px !important;
  gap: 50px !important;
}

.correito {
  color: #9fc13b !important;
}

.item-green {
  color: #9fc13b !important;
}

.nav-link-color {
  color: #ffffff !important;
}

.nav-link-color-button {
  color: #022940;
}

.carouselMargin {
  margin: 30px;
}

.radius {
  border-radius: 50px !important;
}

.btn-homeStudio {
  background-color: #9fc13b !important;
  font-family: "Franklin Gothic Medium" !important;
  font-size: x-large !important;
}

.flex-center {
  justify-content: center !important;
}

.btn-homeStudio:hover {
  transition: 0.5s;
  background-color: #78922a !important;
}

.navbar-toggler {
  background-color: transparent !important;
  border: none !important;
  color: transparent !important;
}

.btn-user {
  padding: 0px !important;
}

#usuarioFoto {
  border-radius: 100% !important;
  width: 50px !important;
  height: 50px !important;
}

.card-perfil {
  position: absolute !important;
  width: 250px;
  right: 0;
  z-index: 100;
  align-items: center;
  padding: 10px !important;
  gap: 15px;
  background-color: #093048 !important;
  color: #ffffff !important;
}

.card-perfil a {
  text-decoration: none !important;
  font-family: "Franklin Gothic Medium" !important;
  color: white;
  transition: 0.2s;
}

.card-perfil a:hover {
  color: rgb(158, 158, 158);
}

.contain {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.contain-contain p {
  margin: 0 !important;
}

.boton-inicar-sesion {
  background-color: #9fc13b !important;
  color: #022940 !important;
  font-family: "Franklin Gothic Medium" !important;
  border-radius: 10px !important;
  border-color: #9fc13b !important;
}

.boton-inicar-sesion:hover {
  background-color: #7ea704 !important;
  color: #022940 !important;
  border-color: #7ea704 !important;
}

#loader-pagina {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: #081b26;
  transition: opacity 1s, visibility 1s;
}

#loader-pagina2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: #081b26;
}

.disabled {
  display: none !important;
}

#cerrarSesion:hover {
  cursor: pointer;
  color: red;
}

#cerrarSesion {
  transition: 0.2s;
}

.modal-title {
  color: #9fc13b !important;
}

.btn-color {
  background-color: #9fc13b !important;
  color: #022940 !important;
  font-family: "Franklin Gothic Medium" !important;
  border-radius: 10px !important;
  border-color: #9fc13b !important;
  transition: 0.2s !important;
}

.btn-color:hover {
  background-color: #7ea704 !important;
  color: #022940 !important;
  border-color: #7ea704 !important;
}

.flex-footer {
  justify-content: space-between !important;
}

.content-bg {
  background-color: #081b26 !important;
  color: #ffffff !important;
}

.modal-header {
  border-bottom: 2px solid #022940 !important;
}

.modal-footer {
  border-top: 2px solid #022940 !important;
}

.alinearP {
  display: flex !important;
  justify-content: space-evenly;
}

@media only screen and (max-width: 991px) {
  .card-perfil {
    width: 100%;
    margin-left: 0;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 0;
  }

  .card-perfil p {
    margin: 0;
  }

  .contain {
    justify-content: flex-start;
    flex-direction: row;
    gap: 25px;
  }
}
