@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 10px; /* Anchura del scroll */
}

body::-webkit-scrollbar-track {
  background: #022940; /* Color de fondo del track */
}

body::-webkit-scrollbar-thumb {
  background-color: #081b26; /* Color del thumb */
  border-radius: 5px; /* Radio de borde del thumb */
}

body::-webkit-scrollbar-corner {
  background: #022940; /* Color del corner */
}

.background-home {
  position: relative;
  background-image: url(../img/fondoHome.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.navbar {
  background-color: #093048;
 
}

.navbarcito {
  background-color: #01000A;
}

.container-fluid {
  margin: 10px !important;
  margin-left: 20px !important;
  gap: 50px !important;
}

.btn-homeStudioCero {
  background-color: #9fc13b !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: large !important;
  font-weight: 900 !important;

  margin-top: 20px !important;
  width: 50% !important;
  border: none !important;
  padding: 5px;
  border-radius: 10px !important;
}

.correito {
  color: #9fc13b !important;
}

.item-green {
  color: #9fc13b !important;
}

.nav-link-color {
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif !important;
}

.item-green {
  font-weight: 900 !important;
}

.nav-link-color-button {
  color: #022940;
}

.radius {
  border-radius: 50px !important;
}

.btn-homeStudio {
  background-color: #9fc13b !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: large !important;
  font-weight: 900 !important;
  width: 250px !important;
  margin-top: 20px !important;
}

.textito-home {
  color: white !important;
  text-align: justify !important;
  width: 500px !important;
  font-size: large;
}

.titulitoHome {
  text-align: center !important;
  font-size: xx-large;
  color: #9fc13b !important;
  width: 550px !important;
  margin-bottom: 40px !important;
}

.rowcito {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
  gap: -100px !important;
}

.flex-center {
  justify-content: center !important;
}

.btn-homeStudio:hover {
  transition: 0.5s;
  background-color: #78922a !important;
}

.navbar-toggler {
  border: none !important;
  color: transparent !important;
}

.btn-user {
  padding: 0px !important;
}

#usuarioFoto,
.usuarioFoto2 {
  border-radius: 100% !important;
  width: 50px !important;
  height: 50px !important;
}

.card-perfil {
  position: absolute !important;
  width: 250px;
  right: 0;
  z-index: 100;
  align-items: center;
  padding: 10px !important;
  gap: 15px;
  background-color: #093048 !important;
  color: #ffffff !important;
}

.card-perfil a {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif !important;
  color: white;
  transition: 0.2s;
}

.card-perfil a:hover {
  color: rgb(158, 158, 158);
}

.contain {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.contain-contain p {
  margin: 0 !important;
}

.boton-cerrar-modal {
  filter: invert(1);
}

.boton-inicar-sesion {
  background-color: #9fc13b !important;
  color: #022940 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  border-radius: 10px !important;
  border-color: #9fc13b !important;
}

.boton-inicar-sesion:hover {
  background-color: #7ea704 !important;
  color: #022940 !important;
  border-color: #7ea704 !important;
}

#loader-pagina,
#loader-pagina-final {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: #081b26;
  transition: opacity 1s, visibility 1s;
}

#loader-pagina2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: #081b26;
}

#loader-pagina-actualizar,
#loader-pagina-enviarForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: rgba(8, 27, 38, 0.8);
  color: white;
}

.disabled {
  display: none !important;
}

#cerrarSesion:hover {
  cursor: pointer;
  color: red;
}

#cerrarSesion {
  transition: 0.2s;
}

.modal-title {
  color: #9fc13b !important;
}

.btn-color {
  background-color: #9fc13b !important;
  color: #022940 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  border-radius: 10px !important;
  border-color: #9fc13b !important;
  transition: 0.2s !important;
}

.btn-color:hover {
  background-color: #7ea704 !important;
  color: #022940 !important;
  border-color: #7ea704 !important;
}

.content-bg,
.modal-content-iniciarSesion {
  background-color: #081b26 !important;
  color: #ffffff !important;
}

.modal-header {
  border-bottom: 2px solid #022940 !important;
}

.modal-footer {
  border-top: 2px solid #022940 !important;
}

.alinearP {
  display: flex !important;
  justify-content: space-evenly;
}

.color-fotico {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
}

.centrar-editar-perfil {
  display: flex !important;
  align-items: center;
}

.input-perfil {
  border: 0 !important;
  background-color: #022940 !important;
  color: white !important;
  border-color: #022940 !important;
  border-radius: 5px;
}

.input-perfil::placeholder {
  color: white !important;
}

.input-perfil[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
}

.cover {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 700px) {

  .navbar {
    background-color: #093048;
  }

  .background-home {
    position: relative;
    background-image: none;
    background-color: #081b26;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .textito-home {
    color: white !important;
    text-align: justify !important;
    width: 300px !important;
    font-size: small;
  }

  .titulitoHome {
    text-align: center !important;
    font-size: large;
    width: 350px !important;
    margin-bottom: 40px !important;
  }

  .rowcito {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }

  .d-flexito {
    flex-direction: column !important;
  }

  .fantasmita {
    flex: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .color-fotico {
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: #ffffff;
  }

  .centrar-editar-perfil {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .card-perfil {
    width: 100%;
    margin-left: 0;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 0;
  }

  .card-perfil p {
    margin: 0;
  }

  .contain {
    justify-content: flex-start;
    flex-direction: row;
    gap: 25px;
  }

  .alinearP {
    gap: 10px;
    justify-content: space-between;
  }

  .cover {
    width: 250px;
    height: 250px;
  }
}
