@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

.btn-secondary {
  background-color: #022940 !important;
  border: 1px solid #022940 !important;
}

.pequeñas {
  background-color: #081b26 !important;
  color: white !important;
  border-radius: 20px;
  margin-bottom: 100px;
}

.pregunta {
  color: #9fc13b !important;
  text-align: center !important;
  font-weight: 400 !important;
  font-size: x-large;
}

.contenedorPresupuesto {
  padding: 5px !important;
  width: 200px !important;
  text-align: center !important;
  background-color: #022940 !important;
  border: 1px solid #022940 !important;
  color: rgba(255, 255, 255, 0.603) !important;
}

.contenedorPresupuesto::placeholder {
  color: rgba(255, 255, 255, 0.603) !important;
}

.tablitaPresupuesto {
  --bs-table-bg: #022940 !important;
  --bs-table-color: white !important;
  border-color: transparent !important;
}

label {
  font-family: "Montserrat", sans-serif !important;
}

.btn-color {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
}

.flex-presupuesto {
  flex-direction: column !important;
}

.flex-contain {
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.container-flex {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center !important;
  flex-direction: column !important;
}

.container-fluid {
  gap: 20px !important;
}

.background {
  position: relative;
  background-image: url(../img/BQBlue2.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
