@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.learning-body {
  background-color: #081b26 !important;
}

.row-center {
  justify-content: center !important;
  gap: 10px;
}

.bg-color {
  background-color: #022940;
}

.contentVideo {
  text-align: justify;
  margin: 10px;
  color: white;
  font-size: medium;
}

.tittle-Video {
  text-align: center;
  color: #9fc13b;
  font-family: "Montserrat", sans-serif !important;
}

.negrilla,
.listaOrdenada {
  color: #9fc13b;
}

p {
  font-family: "Montserrat", sans-serif !important;
}
